ds-selectable-list-item-control {
  z-index: 1;
  border: 1px solid #ec2f2f;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}