<div class="mt-ncs mt-2">
  <div class="container">
    <div class="jumbotron py-4 px-2 py-sm-5 px-sm-0 mt-0">
      <div class="home-news-heading">
        <div class="home-news-copy">
          <!-- <h1 class="display-2">DSpace 9</h1> -->
          <h2 class="lead">  {{ 'home.title.text' | translate }} </h2>
          <p class="subtitle-lead"> {{ 'home.description.text' | translate }} </p>
        </div>
        <img class="home-news-logo" src="http://repositorio.uem.br:8080/jspui/image/uemLogo.jpg" alt="Logotipo do RI-UEM">
      </div>
    </div>
  </div>
</div>
